* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 63/6%; }

.restaurant-card {
  padding: 2vh 3vw; }
  .restaurant-card__details-box {
    display: flex; }
  .restaurant-card__desc-box {
    direction: rtl;
    display: flex;
    flex-direction: column;
    padding: 0 2vw; }
  .restaurant-card__logo-box {
    border: 1px solid #949292;
    border-radius: 5px; }
    .restaurant-card__logo-box img {
      height: 10vh;
      width: 20vw; }
