@mixin clear-fix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    @content;
  }

  &::-webkit-scrollbar-thumb {
    @content;
  }

  &::-webkit-scrollbar-track {
    @content;
  }
}

@mixin hover-trans-bg {
  cursor: pointer;
  font-weight: bold;
}

@mixin one-line-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
